* {
    font-family: 'Atkinson Hyperlegible';
    font-size: 25px;
}

html, body, head{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: #2c2a4a;
}
body {
    position: absolute;
}
div.screen {
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}

div.content {
    margin-top: 50px;
    width: 85%;
    padding: 10px;
    margin: auto;
    margin-bottom: 50px;
    background-color: #C7D3DD;
}

div.titleScreen {
    padding-top: 10px;
    width: 100%;
    display: inline-block;
    background-color: #C7D3DD;
}

div.titleScreen > img.left {
    padding: 10px;
    height: 80px;
    float: left;
}
div.titleScreen > img.right {
    padding: 10px;
    height: 80px;
    float: right;
}

/* label reserved for the top title */
div.titleScreen > label.title { 
    width: 100%;
    color: #002962;
    font-size: 75px;
    font-weight: bold;
    display: block;
    text-align: center;
}

div.bottomScreen{
    width: 100%;
    height: 115px;
    position: absolute; 
    bottom: 0;
    background-color: #C7D3DD;
}

div.iconholders {
    display:flex;
    justify-content: space-between;
    margin: 10px;
    vertical-align: top;
}
div.iconholders > img{
    height: 80px;
    float: left;
    flex-direction: row;
    vertical-align: top;
}
label.subtitle {
    color: #002962;
    padding-top: 5px;
    font-size: 50px;
    font-weight: bold;
}

div.subcontent {
    background-color: #c97d60;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('./TTF/Atkinson-Hyperlegible-Regular-102.ttf');
}

hr {
    border-top: 4px solid black;
}


#modules {
    height:300px; /* 40px - more place for scrollbar, is hidden under parent box */
    width: 100%;
    white-space:nowrap;
    overflow-x: scroll;
}
.module {
    display:inline-block;
    width: 30%;
    height: 95%;
    position: relative;
    /* background:#c97d60; */
    border:4px solid black;
    vertical-align: top;
}


.smallsquare {
    display:inline-block;
    width: 30%;
    height: 95%;
    position: relative;
    vertical-align: top;
    /* background:#c97d60; */
    border:4px solid black;
}

.paddedsubcontent {
    /* background:#c97d60; */
    border:4px solid black;
    margin-left: 30px; 
    margin-right: 30px; 
    overflow-y: scroll;
    height: calc(100% - 100px);
    padding: 20px;
}

li {
    list-style-position:inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}


.bottomtext {
    font-size: 30px;
    font-weight: bold;

    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
    right: 0%;
}

.normaltext {
    font-size: 30px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  
/*Added Stuff*/
#recipeModules{
    position:relative;
    width: 100%;
    overflow-y:scroll;
}

.recipeModule{
    width: 99%;
    height: 95%;
    border:4px solid black;
    margin-bottom: 1%;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 35px;
}
.recipePics{
    width: 25%;
    height: 25%;
    display: inline-block;
    margin-left: 73%;
}

.recipeName{
    color: #002962;
    font-size: 55px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
}

.addRecipe{
    display: none;
    margin-top: 50px;
    width: 85%;
    padding: 10px;
    margin: auto;
    margin-bottom: 50px;
    background-color: #C7D3DD;
}

#addRecipeBtn{
    height: 80px;
    float: right;
    border: none;
    background: none;
}

div.titleScreen > button.right img {
    padding: 10px;
    height: 80px;
    float: right;
}

.editRecipe{
    display: none;
    margin-top: 50px;
    width: 85%;
    padding: 10px;
    margin: auto;
    margin-bottom: 50px;
    background-color: #C7D3DD;
}

.ingredients{
    display: none;
}

.instructions{
    display: none;
}



#addHeading{
    display:flex;
    justify-content: center;
    color: #002962;
    font-size: 55px;
    margin-top: 1%;
}

#ingredientEdit{
    width: 500px;
    height: 300px;
}

#instructionsEdit{
    width: 500px;
    height: 300px;
}

.editLabels{
    color: #002962;
    font-size: 35px;
    font-weight: bold;
    display:block;
}

.addLabels{
    color: #002962;
    font-size: 35px;
    font-weight: bold;
    display:block;
}

#ingredientInput{
    width: 500px;
    height: 300px;
    display: block;
}

#instructionsInput{
    width: 500px;
    height: 300px;
    display: block;
}

.buttons{
    display:flex;
    justify-content: center;
    margin-top:20px;
    margin-bottom: 20px;
}

#submitRecipe{
    padding: 15px 30px;
    font-size: 30px;
    background-color: #002962;
    border-radius: 12px;
    color:#C7D3DD;
    margin:auto;
}

#addReset{
    padding: 15px 30px;
    font-size: 30px;
    background-color: #002962;
    border-radius: 12px;
    color:#C7D3DD;
    margin:auto;
}

#addCancel{
    padding: 15px 30px;
    font-size: 30px;
    background-color: #002962;
    border-radius: 12px;
    color:#C7D3DD;
    margin:auto;
}

#submitEdit{
    padding: 15px 30px;
    font-size: 30px;
    background-color: #002962;
    border-radius: 12px;
    color:#C7D3DD;
    margin:auto;
}

#editReset{
    padding: 15px 30px;
    font-size: 30px;
    background-color: #002962;
    border-radius: 12px;
    color:#C7D3DD;
    margin:auto;
}

#deleteBtn{
    padding: 15px 30px;
    font-size: 30px;
    background-color: #002962;
    border-radius: 12px;
    color:#C7D3DD;
    margin:auto;
}

#editCancel{
    padding: 15px 30px;
    font-size: 30px;
    background-color: #002962;
    border-radius: 12px;
    color:#C7D3DD;
    margin:auto;
}

#ingredientTitle{
    color: #002962;
    font-size: 35px;
    font-weight: bold;
    display:block;
}

#instructionsTitle{
    color: #002962;
    font-size: 35px;
    font-weight: bold;
    display:block;
}

#showTitle{
    color: #002962;
    font-size: 35px;
    font-weight: bold;
    display:flex;
    justify-content: center;
}

#recipeCard{
    display: none;
    background-color:#C7D3DD;
}

#backButton, #editButton{
    padding: 15px 30px;
    font-size: 30px;
    background-color: #002962;
    border-radius: 12px;
    color:#C7D3DD;
    margin:auto;
}

